ul {
	list-style-type: none;
}
div #flex_design{
    padding: 5px;
    
}

/* 2 Column layout*/
.flex_design{
	display: flex;
}

/*Header CSS*/
header{
    border: 5px solid aqua;
    margin: 10px;
    background-color: LightCyan;
    background-image: url("pics/parakeet2.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: MediumVioletRed;
    font-size: 18px;
    text-decoration: underline;
}

/*Navigation CSS*/
nav {
    border: 5px solid aqua;
    width: 25%;
    margin: 10px;
    background-color: LightCyan;
    font-family: Arial, Helvetica, sans-serif;
    color: MediumVioletRed;
    font-size: 19px;
}

/*Main CSS. Where all our content will go*/
main {
    border: 5px solid aqua;
    width: 75%;
    margin: 10px;
    background-color: LightCyan;
    font-family: Arial, Helvetica, sans-serif;
    color: MediumVioletRed;
    font-size: 19px;
    overflow: auto; 
	height: 500px;
}

/*Footer CSS*/
footer {
    border: 5px solid aqua;
    margin: 10px;
    background-color: LightCyan;
    font-family: Arial, Helvetica, sans-serif;
    color: MediumVioletRed;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content-2017 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }